<div class="card mt-4">
    <h4 class="card-header"  style="background-color: aqua;" >Admin Panel <button style="float: right;" mat-raised-button color= "primary" (click)="openDialog()">Tasks</button></h4>
    
    <div class="card-body">
        <div style="margin: auto;width: 50%;">
        <h1 style="border: 5px solid rgb(132, 0, 255); text-align: center; background-color: rgb(235, 229, 229);">Only Managers Can Access This Module.</h1>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
        <table class="example-full-width" cellspacing="0"><tr>
           
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Add Employee</mat-label>
              <input formControlName="username" matInput>
            </mat-form-field></td>
            <td style="padding-left: 25%;
            padding-bottom: 20px;">
           <button mat-raised-button color="primary" type="submit" >Add</button>
            </td>
        
          </tr></table>
        </form>
        

        
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="employeeId">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeId}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="employeename">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeName}} </mat-cell>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="b1">
              <mat-header-cell *matHeaderCellDef> Change Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-raised-button  color="accent" (click)="updateUser(element)">
                &nbsp; Inactive&nbsp;
            </button> </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="b2">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell *matCellDef="let element"> <button mat-raised-button  color="warn" (click)="removeUser(element)">
                &nbsp; Remove&nbsp;
            </button></mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

    </div>
</div>

