<div class="card mt-4">
    <h4 class="card-header"  style="background-color: aqua;" >Admin Panel</h4>
    <div class="card-body">
        <p>Manager can only access this module.</p>
        <p class="mb-1"></p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"/>
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            <!-- <button [disabled]="loading || loginForm.invalid" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button> -->
            <button>
                Add
            </button>
        </form>
        <ul *ngIf="employeeData">
            <li *ngFor="let user of employeeData">{{user.employeeId}} {{user.employeeName}}
                <button (click)="removeUser(user)">
                    &nbsp; Remove&nbsp;
                </button>
                <button (click)="updateUser(user)">
                    &nbsp; Inactive&nbsp;
                </button>
            </li>
            
        </ul> 
        <!-- <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul> -->

        <form [formGroup]="taskForm" (ngSubmit)="taskSubmit()">
            <div class="form-group">
                <label for="taskname">Add Task</label>
                <input type="text" formControlName="taskname" class="form-control"/>
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            <!-- <button [disabled]="loading || loginForm.invalid" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button> -->
            <button  (click)="taskSubmit()">
                Add Task
            </button>

           
        </form>
        <ul *ngIf="taskData">
            <li *ngFor="let user of taskData">{{user.taskId}} {{user.taskDesc}}
                   
                    <label for="status">&nbsp;Employee Id &nbsp;</label>
                        <select [(ngModel)]="selectedEmployeeId">
                            <option *ngFor="let x of employeeData" [ngValue]="x" >{{x.employeeId}}</option>
                        </select>
                
                <button (click)="assignTask(user)">
                    &nbsp;Assign Task&nbsp;
                </button>
            </li>
            
        </ul>
    </div>
</div>